*{
    margin: 0;
    padding: 0;
}


/* body{
    background-image: url(../image/3d-nft-icon-chain_629802-28.avif);
    position: relative;
    float: left;
} */

.header:hover{
    background-color: palevioletred;
    transition: 5s;
}

.header{
 padding: 50px; 
 margin: 20px;  
 display: flex;
 justify-content: space-around;
 position: relative;
 border: 10px solid white;
 background-color: gainsboro;
 background: transparent;
 border-radius: 190px;
}

.header, img{
margin: 12px;
height: 50px;
}

.menu-container{
    justify-content: space-between;
    display: flex;
    text-align: center;
}
.menu, a{
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-family: arial;
    color: black;
}
button{
    font-size:2rem; 
    color:white;
    font-family: arial;
    border: 2px;
    background-color: blueviolet;
    border-radius: 20px;
    height: 60px;
    padding: 10px;
    position: relative;
    display: flex;
}

.main-nav{
    background-image: url(../image/3d-nft-icon-chain_629802-28.avif);
    position: relative;
    float: left;
    padding: 50px;
    margin: 10px;
}

h1{
    padding: 20px;
    color: black;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}
.main-nav strong{
    color: blueviolet;
}

p{
    padding: 10px;
    color: gray;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.image{
    padding: 50px;
    border: 2px;
    margin: 30px;
    position: relative;
    background-color: aliceblue;
}

h2{
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.image, img{
    text-align: center;
}

.content-container{
    flex-wrap: nowrap;
}
.content-container, h4{
    text-align: center;
    padding: 20px;
    font-size: 1.6em;
    font-family: 'Courier New';
    margin: 20px;
}

.content-item-one, .content-item-two, .content-item-three{
    width: 25%;
    height: 50px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    display: flex;
    color: black;
    float: inline-start;
}

.testimony{
    padding: 10px;
    margin: 30px;
}
.testimony, h3{
    padding: 90px;
    margin-top: 200px;
    text-align: center;
    color: lightslategray;
    font-size: 1.4rem;
    font-family: arial;
} 
.testimony, h5{
    color: black;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 2.6rem;
    font-family: arial;
}

.testimony-para{
    color: gray;
    margin-bottom: 10px;
}
.image-testimony{
    margin: 40px;
    padding: 10px;
}

.FAQs{
    padding: 40px;
    margin: 30px;
}


span{
    text-decoration: underline;
}


 ul li{
    padding: 40px;
    font-size: 2.5rem;
    font-family: arial;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.FAQs, b{
    text-align: center;
    font-size: 3.1rem;
}

.list, ul, li{
margin-left: 50px;
list-style: none;
}

footer{
    width: 1152px;
    height: 172px;
    top: 3670px;
    left: 144px;
    padding: 8px 0 0 0;
    text-align: center;
}
.link{
   padding: 100px;
   text-align: center;
   display: flex;
   justify-content: center;
}